@import url(src/shared/shared.css);
@import url(src/shared/footer.css);
@import url(src/shared/nav.css);
@import url(src/shared/reset.css);
@import url(src/shared/globalbakin.css);

.hero-container{
    background-image: url('/src/images/bgheroimg.png');
    display: flex;
    flex-grow: 1;
    height: fit-content;
    justify-content: space-around;
    padding-bottom: 1rem;
    padding: 1rem;
}

.hero-content{
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

.hero-img > img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 8px solid var(--light-color);
    width: 20rem;
}

.container-main{
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem;
}

.cards{
    column-gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    height: fit-content;
    width: 11rem;
}

.zoom {
    transition: transform 1s;
}

.zoom:hover{
    transform: scale(1.1);
}

.container-main > .heading3{
    border-bottom: 2px solid var(--primary-color);
    padding: 0 2rem;
}

.card-badge{
    background-color: var(--primary-color);
}

.card-img-container{
    height: 10rem;
    position: relative;
}

.card-img-container > .card-header{
    font-size: 1.5rem;
}

.card-text-overlay > .card-img-container > .card-header{
    top: 50%;
}

.card-img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
}

.btn-primary{
    height: 3rem;
}

@media only screen and (max-width : 768px) {
    .hero-img{
        height: 15rem;
        width: 15rem;
    }
}

@media only screen and (max-width : 640px) {
    .hero-img{
        height: 12rem;
        width: 12rem;
    }
    .heading2{
        font-size: 1.5rem;
    }
    .heading4{
        font-size: 1rem;
    }
}

@media only screen and (max-width : 480px) {
    .hero-container{
        flex-direction: column;
    }
    .hero-img{
        align-self: center;
        order: -1;
    }
}
