@import url(../../shared/shared.css);
@import url(../../shared/footer.css);
@import url(../../shared/nav.css);
@import url(../../shared/reset.css);
@import url(../../shared/globalbakin.css);
@import url(../../components/product/productlist.css);

.flex-row-center{
  flex-wrap: wrap;
}

.wishlist-cards-container{
  padding: 2rem;
}

.card {
  border: 1px solid var(--shadow-color);
}

.card:hover {
  box-shadow: unset;
}

.card-button{
  width: 100%;
}

.wishlist-empty-container.flex-column-center {
  padding: 2rem;
  row-gap: 1rem;
}

.wishlist-empty-container {
  display: none;
}
