<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Bakin Lane | My Wishlist </title>
<link rel="stylesheet" href="https://muffinui.netlify.app/style.css">   
<link rel="stylesheet" href="wishlist.css">
<script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
<!-- added for icon in browser tab -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="pagewrapper">

    <!-- HEADER NAVIGATION -->
    <nav class="nav-container">
        <div class="brand">
            <img src="/src/images/logo.png" alt="muffin-logo" class="logo">
            <a href="../../../index.html"  class="brand-name">Bakin Lane</a>
            <a href="../../../index.html"  class="nav-item">Home</a>
            <a href="../product/productlist.html" class="nav-item">Buy Now</a>
        </div> 
        <ul>
            <div class="searchbar-container">
                <button class="nav-search-button">
                    <i class="fa fa-solid fa-search"></i>
                </button>
                <input type="text" placeholder="Type to search" class="nav-search-field">
            </div>
            <li class="nav-item nav-icon">
                <a href="">
                    <i class="fa fa-solid fa-search fa-lg nav-icon"></i>
                </a>
            </li>
            <li class="nav-item nav-icon">
                <a href="./wishlist.html">
                <i class="fa fa-solid fa-heart fa-lg nav-icon nav-active"></i>
                </a>
            </li>
            <li class="nav-item nav-icon">
                <a href="">
                    <i class="fas fa-shopping-cart fa-lg nav-icon"></i>
                </a>
            </li>
            <li class="nav-item nav-icon ">
                <a href="../authentication/login.html">
                    <i class="fa fa-solid fa-user fa-lg nav-icon"></i>
                </a>
            </li>
        </ul>
    </nav>

    <!-- MIDDLE SECTION STARTS-->

    <main class="wishlist-cards-container">
        <!-- PRODUCTS -->
        <div class="flex-row-center">
            <div class="card card-default">
                <div class="card-img-container">
                    <picture class="card-img">
                        <source srcset="../../images/webp/cake1.webp" type="image/webp">
                        <source srcset="../../images/cake1.jpg" type="image/jpg">
                        <img src="../../images/cake1.jpg" alt="cake" class="card-img">
                    </picture>
                    <i class="fa fa-times-circle fa-lg btn-close-card"></i>
                </div>
                <div class="card-header">
                    Unicorn Cake
                </div>
                <div class="card-title">
                    Rs 1000
                </div>
                <div class="card-buttons">
                    <span class="card-button">MOVE TO CART</span>
                </div>
            </div>

            <div class="card card-default">
                
                <div class="card-img-container">
                    <picture class="card-img">
                        <source srcset="../../images/webp/cake2.webp" type="image/webp">
                        <source srcset="../../images/cake2.jpg" type="image/jpg">
                        <img src="../../images/cake2.jpg" class="card-img" alt="cake">
                    </picture>  
                    <i class="fa fa-times-circle fa-lg btn-close-card"></i>            
                </div>
                <div class="card-header">
                    Vanlate Cake
                </div>
                <div class="card-title">
                    Rs 800
                </div>
                <div class="card-buttons">
                    <span class="card-button">MOVE TO CART</span>
                </div>
            </div>

            <div class="card card-default">
                <div class="card-img-container">
                    <picture class="card-img">
                        <source srcset="../../images/webp/cake4.webp" type="image/webp">
                        <source srcset="../../images/cake4.jpg" type="image/jpg">
                        <img src="../../images/cake4.jpg" class="card-img" alt="cake">
                    </picture> 
                    <i class="fa fa-times-circle fa-lg btn-close-card"></i>
                </div>
                <div class="card-header">
                    Red Velvet Muffin
                </div>
                <div class="card-title">
                    Rs 150 / pc
                </div>
                <div class="card-buttons">
                    <span class="card-button">MOVE TO CART</span>
                </div>
            </div>
            
            <div class="wishlist-empty-container flex-column-center">
                <h4>YOUR WISHLIST IS EMPTY</h4>
                <p>Add delicious items that you like to your wishlist. Review them anytime and easily move them to the cart.
                </p>
                <div>
                    <img src="../../images/wishlistempty.png" alt="cake and muffins">
                </div>
                <button class="btn btn-outline-primary" onclick="location.href = '../product/productlist.html'">BUY NOW</button>
            </div>

        </div>
    </main>

    <!-- MIDDLE SECTION ENDS-->
    
    <!-- FOOTER -->
    <footer class="footer-container flex-column-center">
        <p class="footer-header">
            Made with <span>&lt;/&gt;</span> by Roma Bulani
        </p>
        <ul>
            <li class="footer-item">
                <a href="https://github.com/romabulani" target="_blank">
                    <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="https://twitter.com/romabulani" target="_blank">
                    <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                </a>
            </li>
            <li class="footer-item">
                <a href="https://www.linkedin.com/in/romabulani/" target="_blank">
                    <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <p class="copywright">
            © 2022 | Bakin Lane
        </p>
    </footer>
</div>
</body>
<script src="wishlist.js"></script>
</html>
