@import url(../../shared/shared.css);
@import url(../../shared/footer.css);
@import url(../../shared/nav.css);
@import url(../../shared/reset.css);
@import url(../../shared/globalbakin.css);
@import url(../../../home.css);

.filters-and-products {
  display: flex;
  flex-grow: 1;
  position: relative;
}

.filters {
  height: calc(100vh - 2rem);
  margin: 1rem;
  min-width: 12rem;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.filter-header {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.filter-sort,
.filter-items,
.filter-categories {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  row-gap: 0.5rem;
}

.small-text {
  font-size: 0.875rem;
}

.rating-star {
  color: var(--star-color);
}

.cards {
  column-gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  row-gap: 2rem;
}

.card {
  box-shadow: none;
  margin: 0.5rem;
}

.card > .card-content {
  margin-left: 0.5rem;
}

.card:hover {
  box-shadow: var(--default-shadow);
}

.card-button{
  margin: 0.5rem 0;
}

.card-icon.heart-wishlist {
  color: var(--error-color);
}

/* Media Queries */
@media only screen and (max-width: 790px) {
  .flex-row-center {
    gap: 3px;
    padding: 3px;
  }

  .filters {
    min-width: 10rem;
  }

  .cards{
    column-gap: 0px;
    padding: 4px;
    row-gap: 1rem;
  }

  .card:hover {
    box-shadow: unset;
  }

  .card {
    border: 1px solid var(--gray-color);
    margin: 10px;
  }
}

@media only screen and (max-width: 640px) {
    .filters{
        min-width: 8rem;
    }
}
